# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
.next/
dist/
build/
out/

# Dependencies
node_modules/
venv/
.venv/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
backend/venv/
backend/__pycache__/
frontend/.next/
frontend/node_modules/
frontend/dist/
